body {
    color: cadetblue;
    font-family:'Times New Roman', Times, serif;
    background-color: #EDEBD7;
    font-size: 20px;
}
header h1 {
    color: #223240;
}
nav h2 {
    color: #E2725B;
    text-align: center;
}
#style {
    color: cadetblue;
    font-weight: bold;
}
span {
    color: #347355;
    font-weight: bold ;
}
.Indigo {
    color:chocolate
}
