body {
    font-family: 'Times New Roman', Times, serif
}
.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.child {
    background-color: lightblue;
    padding: 20px;
    border: 2px solid navy;
}