body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
}
header {
    background-color: rgb(5, 111, 99);
}
.sidebar h3 {
    margin: 0;
}

main h2 {
    margin: 0;
}

header h1 {
    margin: 0;
}

.main-row {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: bisque;
}

.card{
    border: thin solid #00000037;
    box-shadow: 3px 3px 5px rgba(200, 200, 200, 0.6);
    width: 200px;
    margin: 5px;
}

.card img {
    width: 100%;
}

.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;    
}

.nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 231);
}
.nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(100, 100, 231);
    color: white;
}
.nav a:hover {
    background-color:white;
    color: rgb(100, 100, 231)
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(100, 100, 231);
}
@media ONLY screen AND (max-width: 400px) {
    body {
        background-color: lightgray;
    }
    nav {
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
    .main-row {
        flex-direction: column-reverse;
    }
}